node_modules
examples/node_modules
examples/**/_package/
*.min.js
client/src/renderers/support/jade-runtime.js
src/components/oc-client/src/l.js
src/components/oc-client/src/oc-client.js
src/components/oc-client/_package/**/*
src/components/base-component-handlebars/_package/**/*
src/components/base-component-handlebars/server.js
src/components/base-component-jade/_package/**/*
src/components/base-component-jade/server.js
test/fixtures
test/front-end
test/configuration