lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules
.idea
*.swp
*.swo
*.swn
*.swm
*.orig
*.local

.DS_Store

components/oc.json
components/base-component-handlebars/_package
components/base-component-jade/_package