# branches to build
branches:
  # whitelist
  only:
    - master

# build version format
version: "{build}"

# what combinations to test
environment:
  matrix:
    - nodejs_version: 0.10.35

# Get the stable version of node
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g npm@2
  - set PATH=%APPDATA%\npm;%PATH%
  - node --version
  - npm --version
  - npm install
  - npm install -g grunt-cli

build: off

test_script:
  - cmd: grunt test-windows
