# branches to build
branches:
  # whitelist
  only:
    - master

# build version format
version: "{build}"

# what combinations to test
environment:
  matrix:
    - nodejs_version: 0.10

# Get the stable version of node
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - npm install -g grunt-cli

build: off

test_script:
  - node --version
  - npm --version
  - cmd: npm test
