<script src="src/head.load.js"></script>
<script src="src/oc-client.js"></script>
<script>
  oc.require('https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js', () => {
    console.log('angular is ready');
    console.log('angular:', angular);
  });
  oc.require('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', () => {
    console.log('bootstrap is on its way');
  });
</script>

<div class="container">
  <h1>HeadJS</h1>
  <a href="http://headjs.com/">http://headjs.com/</a>
</div>
