script(src=staticPath+"src/oc-client.min.js", type="text/javascript")
script.
  oc.registerTemplates({
    type: 'oc-template-react',
    externals: [
      {
        "global": "React",
        "url": "https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"
      },
      {
        "global": "ReactDOM",
        "url": "https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"
      }
    ]
  });