script.
  window.oc = window.oc || {};
  oc.conf = oc.conf || {};
  oc.conf.templates = oc.conf.templates || [];
  oc.conf.templates = oc.conf.templates.concat(!{JSON.stringify(templates)});
script(src="https://unpkg.com/oc-client-browser@1.0.0/dist/oc-client.min.js", type="text/javascript")
