#componentsHistory.box
  each release in componentsHistory
    .componentRow.row.table
      a(href=release.name + '/' + release.version + '/~info')
        p.release Version #{release.version} of the component #{release.name} has been published on: #{release.publishDate}
        