#components-history.box
  each component in componentsHistory
    .componentRow.row.table
      a(href=component.name + '/' + component.version + '/~info')
        p.release #{component.publishDate} - Published #{component.name}@#{component.version}
        